In [39]:
driver = webdriver.Chrome(service=ser, options=op)
driver.maximize_window()
driver.get(page_link_to_open)
sleep(1)
homeCard = driver.find_elements(By.CSS_SELECTOR , "a.slider-item")
[c.get_attribute('href') for c in homeCard]

[]

In [26]:
import pandas as pd

In [27]:
from selenium import webdriver  # install selenium
from selenium.webdriver.common.keys import Keys
from selenium.common.exceptions import NoSuchElementException
from selenium.common.exceptions import StaleElementReferenceException
from selenium.common.exceptions import TimeoutException
from selenium.webdriver.support import expected_conditions as EC
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.common.by import By
from selenium.webdriver.chrome.options import Options
from selenium.webdriver.chrome.service import Service
from time import sleep

In [28]:
path_to_browser = "./chromedriver.exe"
ser = Service(path_to_browser)
op = webdriver.ChromeOptions()
op.add_argument('headless')
page_link_to_open = "https://www.redfin.com/zipcode/00601"

In [111]:
# https://www.redfin.com/CA/San-Francisco/401-Harrison-St-94105/unit-46B/home/144064341
page_link_to_open2 = 'https://www.redfin.com/CA/San-Francisco/401-Harrison-St-94105/unit-46B/home/144064341'

driver = webdriver.Chrome(service=ser, options=op)
driver.maximize_window()
driver.get(page_link_to_open2)
sleep(0.2)
data = driver.find_elements(By.CSS_SELECTOR , ".statsValue")
[price, beds, bath, area] = [c.text for c in data]
stress_address = driver.find_elements(By.CSS_SELECTOR , ".street-address")[0].text
city_and_state = driver.find_elements(By.CSS_SELECTOR , ".dp-subtext")[0].text

# home_facts = driver.find_elements(By.CSS_SELECTOR, ".keyDetailsList")[0] \
#                    .find_elements(By.CSS_SELECTOR, "div.keyDetail")
# home_fact_index = [fact.find_elements(By.CSS_SELECTOR , "span")[0].text for fact in home_facts]
# home_fact_text = [fact.find_elements(By.CSS_SELECTOR, "span.text-right")[0].text for fact in home_facts]
# year_built = home_fact_text[home_fact_index.index('Year Built')] if 'Year Built' in home_fact_index else None
# lot_size = home_fact_text[home_fact_index.index('Lot Size')] if 'Lot Size' in home_fact_index else None

basic_infor = driver.find_elements(By.ID, "basicInfo")[0]
basic_infor_label = [e.text for e in basic_infor.find_elements(By.CSS_SELECTOR, "span.table-label")]
basic_infor_value = [e.text for e in basic_infor.find_elements(By.CSS_SELECTOR, "div.table-value")]
year_built = basic_infor_value[basic_infor_label.index('Year Built')] if 'Year Built' in basic_infor_label else None
county = basic_infor_value[basic_infor_label.index('County')] if 'County' in basic_infor_label else None
# lot_size = basic_infor_value[basic_infor_label.index('Lot Size')] if 'Lot Size' in basic_infor_label else None

scores = driver.find_elements(By.CSS_SELECTOR , ".walk-score")
if scores:
    scores = scores[0].find_elements(By.CSS_SELECTOR , ".score")
    trademark = [score.find_elements(By.CSS_SELECTOR , ".walkscore-trademark")[0].text[:-1] for score in scores]
    score_value = [score.find_elements(By.CSS_SELECTOR , "div.percentage > span.value")[0].text for score in scores]
    walk_score = score_value[trademark.index('Walk Score')] if 'Walk Score' in trademark else None
    transit_score = score_value[trademark.index('Transit Score')] if 'Transit Score' in trademark else None
    bike_score = score_value[trademark.index('Bike Score')] if 'Bike Score' in trademark else None

property_details_container = driver.find_elements(By.CSS_SELECTOR, "div.super-group-content > div.amenity-group")
heating_cooling_text = None
pool_text = None
parking_garage_text = None
lot_text = None

for pc in property_details_container:
    header = pc.find_elements(By.TAG_NAME, "h3")[0].text
    if header == 'Pool Information':
        pool_text = [e.text for e in pc.find_elements(By.TAG_NAME, "li")]
    if header == 'Heating & Cooling':
        heating_cooling_text = [e.text for e in pc.find_elements(By.TAG_NAME, "li")]
    if header == 'Parking & Garage Information':
        parking_garage_text = [e.text for e in pc.find_elements(By.TAG_NAME, "li")]
    if header == 'Lot Information':
        lot_text = [e.text for e in pc.find_elements(By.TAG_NAME, "li")]

photo_elements = driver.find_elements(By.CSS_SELECTOR, 'div.InlinePhotoPreview')
photo_elements = photo_elements[0] if photo_elements else []
img_href = " ".join([img.get_attribute('src') for img in photo_elements.find_elements(By.TAG_NAME, "img")])

In [112]:
img_href

'https://ssl.cdn-redfin.com/system_files/media/622779_JPG/item_10.jpg https://ssl.cdn-redfin.com/system_files/media/622779_JPG/genLdpUgcMediaBrowserUrl/item_29.jpg https://ssl.cdn-redfin.com/system_files/media/622779_JPG/genLdpUgcMediaBrowserUrl/item_85.jpg'

In [71]:
price, beds, bath, area, stress_address[:-1], city_and_state, year_built, lot_size, county, walk_score, transit_score, bike_score

('$7,900,000',
 '3',
 '3',
 '3,214',
 '401 Harrison St Unit 46B',
 'San Francisco, CA 94105',
 '2014',
 'â€”',
 'San Francisco County',
 '93',
 '100',
 '57')

In [84]:
for lt in lot_text:
    if lt.startswith('Lot Size Acres: '):
        lot_size = lt.split('Lot Size Acres: ')[1]

In [92]:
for hc in heating_cooling_text:
    if hc.startswith('Cooling: '):
        cooling = hc.split('Cooling: ')[1]
    if hc.startswith('Heating: '):
        heating = hc.split('Heating: ')[1]

In [98]:
for p in pool_text:
    if p.startswith('Has Private Pool: '):
        pooling = p.split('Has Private Pool: ')[1]

In [101]:
for pg in parking_garage_text:
    if pg.startswith('Parking Total: '):
        parking_size = pg.split('Parking Total: ')[1]

In [102]:
parking_size

'2'

In [123]:
href = pd.read_csv('data\property_href.csv')
href.head()

c:\users\talek\miniconda3\lib\site-packages\IPython\core\interactiveshell.py:3166: DtypeWarning: Columns (0) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

   zipcode                                               href
0  zipcode                                               href
1    01001   https://www.redfin.com/MA/Agawam/24-Rowley-St...
2    01001   https://www.redfin.com/MA/Agawam/418-Meadow-S...
3    01001   https://www.redfin.com/MA/Agawam/611-Suffield...
4    01001   https://www.redfin.com/MA/Agawam/418-Meadow-S...

In [124]:
len(href[' href'])

507257

In [125]:
import random 
def partition (list_in, n):
    random.shuffle(list_in)
    return [list_in[i::n] for i in range(n)]

set_href = list(set(href[' href']))
lists = partition(set_href, 10)

In [127]:
len(lists[0])

39023

In [122]:
df

                                                     href
0        https://www.redfin.com/TN/Whitwell/340-Cheri-...
1        https://www.redfin.com/TX/PRINCETON/WILSON-WA...
2        https://www.redfin.com/IL/Kankakee/426-S-Wild...
3        https://www.redfin.com/TX/McKinney/3201-Junip...
4        https://www.redfin.com/OH/Dayton/2552-Greenle...
...                                                   ...
387660   https://www.redfin.com/NC/Louisburg/98-Black-...
387661   https://www.redfin.com/NE/Bellevue/Lot-66-Fir...
387662   https://www.redfin.com/OK/GLENPOOL/17818-S-UN...
387663   https://www.redfin.com/PA/Pittsburgh/5715-Bea...
387664   https://www.redfin.com/MN/Rochester/4521-Arbo...

[387665 rows x 1 columns]

In [137]:
data = pd.read_csv('data\housing_data_raw.csv')

In [140]:
data['stress_address'][0]

' 401 Harrison St Unit 46B'